/* @font-face {
    font-family: 'Segoeui';
    src: local('Segoeui'), url(../assets/segoeui.ttf) format('truetype');
}

@font-face {
    font-family: 'Segoeuib';
    src: local('Segoeuib'), url(../assets/segoeuib.ttf) format('truetype');
}

@font-face {
    font-family: 'Seguisb';
    src: local('Seguisb'), url(../assets/seguisb.ttf) format('truetype');
} */

p {
    font-family: 'Seguisb';
    font-size: 1.5em;
    color: rgb(154, 154, 154);
}

.blueHighlight {
    /* font-family: 'Seguisb'; */
    font-size: 1.5em;
    color: rgb(75, 177, 223);
}

.titleBloco2 {
    font-family: 'Segoeuib';
    font-size: 2.5em;
    color: rgb(75, 177, 223);
    vertical-align: middle;
    text-align: center;
    /* margin: 5% 0 0 0; */
    padding: 5% 0 0 0;
    border: 0 0 0 0;
}

.barraLateral {
    margin: '1.5em';
    padding: '0px';
    /* border: '2px solid rgb(154, 154, 154)';
    -webkit-box-shadow: 0px 1px 1px black;
    -moz-box-shadow: 0px 1px 1px black;
    box-shadow: 0px 1px 1px black; */
    background: red; 
    min-height: 90%; 
}

.cols {
    margin: 0;
    padding: 0 0 0 0;
    border: 0;
    min-height: 100%; 
}

.bloco1 {
    margin: 2% 0 0 0;
    padding: 0 0 0 0;
    border: 0 0 0 0;
    /* border-right: 1px solid rgb(154, 154, 154. .3); */
    -webkit-box-shadow: 3px 0px 5px rgba(154, 154, 154, .4);;
    -moz-box-shadow: 3px 0px 5px rgba(154, 154, 154, .4);;
    box-shadow: 3px 0px 5px rgba(154, 154, 154, .4);;
    /* background: red;  */
    min-height: 100%; 
    /* vertical-align: middle; */
}

.bloco2 {
    /* box-shadow: 50px 10px 1px rgb(154, 154, 154); */
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    /* border-right: 1px solid rgb(154, 154, 154); */
    /* -webkit-box-shadow: 0px 0px 0px black;
    -moz-box-shadow: 0px 0px 0px black;
    box-shadow: 0px 0px 0px black; */
    /* background: red;  */
    min-height: 100%; 
    text-align: center;
}

.logoXoping {
    margin: 0 0 0 0;
    padding: 15% 0 20% 0;
}

.bloco1Items {
    margin: 10% 0% 0 10%;
    padding: 0;
    border: 0;
}

.bloco2UnableItems {
    margin: 0.7% 20% 0 15%;
    padding: 0;
    border: 0;
    text-align: start;
    color: rgba(179, 179, 179, .8);
}

.bloco2UnableP {
    margin: 0.7% 0% 0 9.5%;
    padding: 0;
    border: 0;
    text-align: start;
    color: rgba(179, 179, 179, .8);
}

.line {
    width: 70%;
    height: 0.1em;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgba(179, 179, 179, .6);
}

.iconesBloco2 {
    margin: 0 0 0 4.7%;
    padding: 0;
    border: 0;
    height: 2.5em;
    width: auto;
}